# Ignore specific pickle files
image_data_before.pickle
image_data_after.pickle
image_data_after_histr.pickle

# Ignore all pickle files
*.pickle

# Ignore Jupyter notebook files
*.ipynb

# Ignore the uploads directory
/uploads

# Ignore system files and other temporary files
.DS_Store
Thumbs.db
*.log
*.tmp
venv/
yolov8n-seg.pt
yolov8n.pt
