<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainStyles.css') }}">
  <title>Image Processing Tool</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</head>
<body>
  
  <div id="initialForm">
    
    <img src = static/images/title_image.jpeg height="60px" width="80px">
    

<!-- Main Form -->
<div class="header mainForm">
  <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>Main Process</button>
      <div class="dropdown-menu" id="mainDropdown">
          <a href="#" class="link main-option" data-value="basicOps" data-label="Basic Operations">Basic Operations</a>  
          <a href="#" class="link main-option" data-value="enhancePreprocess" data-label="Enhancement and Preprocessing">Enhancement and Preprocessing</a>
          <a href="#" class="link main-option" data-value="contourProcess" data-label="Contours">Contours</a> 
          <a href="#" class="link main-option" data-value="kernelSelection" data-label="Kernel Selection">Kernel Selection</a>
          <a href="#" class="link main-option" data-value="FFTProcess" data-label="Fourier transform">Fourier Transform</a> 
          <a href="#" class="link main-option" data-value="edgeDetection" data-label="Edge Detection">Edge Detection</a>
          <a href="#" class="link main-option" data-value="imageClassification" data-label="Image Classification">Image Classification</a>
          <a href="#" class="link main-option" data-value="objectDetection" data-label="Object Detection">Object Detection</a>   
          <a href="#" class="link main-option" data-value="imageSegmentation" data-label="Image Segmentation">Image Segmentation</a> 
      </div>
      <div class="subtitle"></div>
  </div>
</div>

<!-- Sub Forms -->
<div class="header subForm basicOps">
  <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>Sub Process</button>
      <div class="dropdown-menu">
          <a href="#" class="link sub-option" data-value="resize" data-label="Image Resizing">Image Resizing</a>  
          <a href="#" class="link sub-option" data-value="crop" data-label="Image Cropping">Image Cropping</a> 
          <a href="#" class="link sub-option" data-value="translate" data-label="Translate Image">Translate Image</a> 
          <a href="#" class="link sub-option" data-value="swapColour" data-label="Swap Colour Schemes">Swap Colour Schemes</a> 
          <a href="#" class="link sub-option" data-value="grayscale" data-label="Grayscale Conversion">Grayscale Conversion</a>   
          <a href="#" class="link sub-option" data-value="rotate" data-label="Image Rotation">Image Rotation</a> 
          <a href="#" class="link sub-option" data-value="affine" data-label="Affine Transformation">Affine Transformation</a>        
      </div>
      <div class="sub-subtitle"></div>
  </div>
</div>

<div class="header subForm enhancePreprocess">
  <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>Sub Process</button>
      <div class="dropdown-menu">
          <a href="#" class="link sub-option" data-value="simpleThresh" data-label="Simple Thresholding">Simple Thresholding</a>  
          <a href="#" class="link sub-option" data-value="adaptThresh" data-label="Adaptive Thresholding">Adaptive Thresholding</a> 
          <a href="#" class="link sub-option" data-value="otsuThresh" data-label="Otsu Thresholding">Otsu Thresholding</a> 
          <a href="#" class="link sub-option" data-value="imageHist" data-label="Image Histogram">Image Histogram</a> 
          <a href="#" class="link sub-option" data-value="histEqua" data-label="Histogram Equalization">Histogram Equalization</a>   
      </div>
      <div class="sub-subtitle"></div>
  </div>
</div>



    <div class="header subForm contourProcess">
      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>Sub Process</button>
        <div class="dropdown-menu">      
        
          <a href="#" class="link sub-option" data-value="drawShapes" data-label="Draw Shapes">Draw Shapes</a>
          <a href="#" class="link sub-option" data-value="drawContours" data-label="Draw Contours">Draw Contours</a>
          <a href="#" class="link sub-option" data-value="contourFeatures" data-label="Contour Features">Contour Features</a>  
          <a href="#" class="link sub-option" data-value="boundingFeatures" data-label="Bounding Boxes">Bounding Boxes</a>  <!--extreme points, bounding rect, minaArea, minenclosed circle, ellips, approxpoly-->
          <a href="#" class="link sub-option" data-value="identifyShapes" data-label="Identify Shapes">Identify Shapes</a>
          <a href="#" class="link sub-option" data-value="matchingContours" data-label="Matching Contours">Matching Contours</a>
      </div>
      <div class="sub-subtitle"></div>
  </div>
</div>

    <div class="header subForm FFTProcess">
      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>Sub Process</button>
        <div class="dropdown-menu">      
      
          <a href="#" class="link sub-option" data-value="FftSpectrum" data-label="Show Spectrum">Show Spectrum</a>
          <a href="#" class="link sub-option" data-value="FftFilter" data-label="Filter">Filter</a>
        </div>
        <div class="sub-subtitle"></div>
    </div>
  </div>

  <div class="header subForm kernelSelection">
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>Sub Process</button>
      <div class="dropdown-menu">
      
        <a href="#" class="link sub-option" data-value="identityKernel" data-label="Identity Kernel">Identity Kernel</a>
        <a href="#" class="link sub-option" data-value="smoothingKernel" data-label="Smoothing/Blurring Kernels">Smoothing/Blurring Kernels</a>  
        <a href="#" class="link sub-option" data-value="sharpeningKernel" data-label="Sharpening Kernels">Sharpening Kernels</a>
        <a href="#" class="link sub-option" data-value="edgeDetectionKernel" data-label="Edge Detection">Edge Detection</a>              
        <a href="#" class="link sub-option" data-value="morphologicalKernel" data-label="Morphological Kernels">Morphological Kernels</a>
        <a href="#" class="link sub-option" data-value="frequencyDomainKernel" data-label="Frequency Domain Kernels">Frequency Domain Kernels</a>
        <a href="#" class="link sub-option" data-value="customKernel" data-label="Custom Kernels"></a> 
        </div>
        <div class="sub-subtitle"></div>
    </div>
  </div> 

    <div class="header subForm imageClassification">
      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>Sub Process</button>
        <div class="dropdown-menu">
     
          <a href="#" class="link sub-option" data-value="binaryClass" data-label="Binary">Binary </a>
          <a href="#" class="link sub-option" data-value="multiClass" data-label="MultiClass">MultiClass </a>
          <a href="#" class="link sub-option" data-value="hierClass" data-label="Hierarchical">Hierarchical  </a>
          <a href="#" class="link sub-option" data-value="sceneClass" data-label="Scene Recognition">Scene Recognition </a>
          </div>
          <div class="sub-subtitle"></div>
      </div>
    </div> 
   
    <!-- <div class="secondForm" id = "advancedTech">
      <label for="advancedTech">---Advanced Techniques---</label>
      <select id="advancedTechDrop" onchange="showSecondDropChoice('advancedTechDrop')">  
        <option> Color Spaces Conversion </option>  
        <option> Image Segmentation </option>  
        <option> Feature Detection and Extraction </option>  
        <option> Image Registration </option>
      </select>
    </div> -->
    
    <div class="header subForm objectDetection"> 
      <label for="objectDetection">--Selected Detection Algorithm--</label>
      <div id="objectDetectionForm">
        <form>
          <div class="input-container">
            <label for="fasterRCnnAlg"> Faster R-CNN</label>
            <input type="radio" id="fasterRCnnAlg" name="objectDetectionModel" value="fasterRCnn" onchange="objectDetectionChoice()">
          </div>
          <div class="input-container">
            <label for="yoloAlg">Yolo</label>
            <input type="radio" id="yoloAlg" name="objectDetectionModel" value="yolo" onchange="objectDetectionChoice()">
          </div>
        </form>
      </div>
    </div>

    <div class="header subForm imageSegmentation">
      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>Sub Process</button>
        <div class="dropdown-menu">
          <a href="#" class="link sub-option" data-value="threshSeg" data-label="Threshold"> Threshold </a>
          <a href="#" class="link sub-option" data-value="regionSeg" data-label="Region Based"> Region Based </a>
          <a href="#" class="link sub-option" data-value="clusterSeg" data-label="Clustering"> Clustering </a>
          <a href="#" class="link sub-option" data-value="watershed" data-label="Watershed"> Watershed </a>
          <a href="#" class="link sub-option" data-value="semantic" data-label="Semantic"> Semantic </a>
          <a href="#" class="link sub-option" data-value="instance" data-label="Instance"> Instance </a>
        </div>
        <div class="sub-subtitle"></div>
    </div>
  </div> 

    <!-- Sub Form Specifications -->
    <div id="edgeDetection" class="secondFormParams"> 
      <label for="edgeDetectionSelection">--Selected Edge Detection--</label>
      <div id="edgeDetectionForm">
        <form>
          <div class="input-container">
            <label for="selectedArea">Sobel</label>
            <input type="radio" id="selectedEdgeSobel" name="edgeDetectionSelection" value="selectedEdgeSobel" onchange="edgeDetectionChoice()">
          </div>
          <div class="input-container">
            <label for="selectedArea">Canny</label>
            <input type="radio" id="selectedEdgeCanny" name="edgeDetectionSelection" value="selectedEdgeCanny" onchange="edgeDetectionChoice()">
          </div>
          <div class="input-container">
            <label for="selectedArea">Prewitt</label>
            <input type="radio" id="selectedEdgePrewitt" name="edgeDetectionSelection" value="selectedEdgePrewitt" onchange="edgeDetectionChoice()">
          </div>
          <div class="input-container">
            <label for="selectedArea">Robert Cross</label>
            <input type="radio" id="selectedEdgeRobertCross" name="edgeDetectionSelection" value="selectedEdgeRobertCross" onchange="edgeDetectionChoice()">
          </div>
          <div class="input-container">
            <label for="selectedArea">Laplacian</label>
            <input type="radio" id="selectedEdgeLaplacian" name="edgeDetectionSelection" value="selectedEdgeLaplacian" onchange="edgeDetectionChoice()">
          </div>
          <div class="input-container">
            <label for="selectedArea">Scharr</label>
            <input type="radio" id="selectedEdgeScharr" name="edgeDetectionSelection" value="selectedEdgeScharr" onchange="edgeDetectionChoice()">
          </div>
  
        </form>
      </div>
    </div>
    
    <fieldset id="areaSelection" class="secondFormParams"> 
      <legend>Selected Area Type</legend>
      <div id="areaForm">
        <form>
          <div class="input-container">
            <label for="selectedArea1">Selected Area 1</label>
            <input type="radio" id="selectedArea1" name="areaSelectionInput" value="selectedArea1" onchange="areaChoice()">
          </div>
          <div class="input-container">
            <label for="selectedArea2">Selected Area 2</label>
            <input type="radio" id="selectedArea2" name="areaSelectionInput" value="selectedArea2" onchange="areaChoice()">
          </div>
          <div class="input-container">
            <label for="entireImage">Entire Image</label>
            <input type="radio" id="entireImage" name="areaSelectionInput" value="entireImage" onchange="areaChoice()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id="binModelSelection" class="secondFormParams" style="border-color: red;"> 
      <legend>Select Binary Model</legend>
      <div id="binModelSelectionForm">
        <form>
          <div class="input-container">
            <label for="customModelBin">Custom Model</label>
            <input type="radio" id="customModelBin" name="binaryClassSelection" value="customModelBin" onchange="binClass()">
          </div>
          <div class="input-container">
            <label for="vgg16Bin">VGG16</label>
            <input type="radio" id="vgg16Bin" name="binaryClassSelection" value="vgg16Bin" onchange="binClass()">
          </div>
          <div class="input-container">
            <label for="resNetBin">ResNet</label>
            <input type="radio" id="resNetBin" name="binaryClassSelection" value="resNetBin" onchange="binClass()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id="multiModelSelection" class="secondFormParams" style="border-color: red;"> 
      <legend>Select Binary Model</legend>
      <div id="multiModelSelectionForm">
        <form>
          <div class="input-container">
            <label for="xceptionModel">Xception</label>
            <input type="radio" id="xceptionModel" name="multiClassSelection" value="xceptionModel" onchange="multiClass()">
          </div>
          <div class="input-container">
            <label for="vgg16Bin">VGG16</label>
            <input type="radio" id="vgg16Bin" name="multiClassSelection" value="vgg16Bin" onchange="multiClass()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id="predUploadField" class="secondFormParams" style="border-color: red;">
      <form id="predImageUploadForm" action="#" method="post" enctype="multipart/form-data">
        <label for="classImageUpload">
          Upload Image To Classify
        </label>
        <br>
        <input type="file" name="classImageUpload" accept="image/*" placeholder="Select an image">
      </form>
    </fieldset>

    <div id="drawShapeSelection" class="secondFormParams"> 
      <label for="drawShapeSelection">--Selected Shape Type--</label>
      <div id="drawShapeForm">
        <form>
          <div class="input-container">
            <label for="drawQuadrangle">Quadrangle</label>
            <input type="radio" id="drawQuadrangle" name="areaSelectionInput" value="drawQuadrangle" onchange="drawShapeChoice()">
          </div>
          <div class="input-container">
            <label for="drawCircle">Circle</label>
            <input type="radio" id="drawCircle" name="areaSelectionInput" value="drawCircle" onchange="drawShapeChoice()">
          </div>
        </form>
      </div>
    </div>


    <fieldset id="contourFeatureSelection" class="secondFormParams" style="border-color: red;"> 
      <legend>Selected Feature</legend>
      <div id="contourFeatureSelectionForm">
        <form>
          <div class="input-container">
            <label for="contourArea">Area</label>
            <input type="radio" id="contourArea" name="contourFeatureSelectionInput" value="contourArea" onchange="contourFeatureChoice()">
          </div>
          <div class="input-container">
            <label for="contourPerimeter">Perimeter</label>
            <input type="radio" id="contourPerimeter" name="contourFeatureSelectionInput" value="contourPerimeter" onchange="contourFeatureChoice()">
          </div>
          <div class="input-container">
            <label for="contourCentre">Centre</label>
            <input type="radio" id="contourCentre" name="contourFeatureSelectionInput" value="contourCentre" onchange="contourFeatureChoice()">
          </div>
        </form>
      </div>
    </fieldset>
    

    <fieldset id="contourBoundingBox" class="secondFormParams" style="border-color: red;"> 
      <legend>Selected BoundingBox</legend>
      <div id="contourBoundingBoxForm">
        <form>
          <div class="input-container">
            <label for="boundingRectangle">Rectangle</label>
            <input type="radio" id="boundingRectangle" name="contourBoundingBoxInput" value="boundingRectangle" onchange="contourBoundingBoxChoice()">
          </div>
          <div class="input-container">
            <label for="boundingOrRectangle">Oriented Rectangle</label>
            <input type="radio" id="boundingOrRectangle" name="contourBoundingBoxInput" value="boundingOrRectangle" onchange="contourBoundingBoxChoice()">
          </div>
          <div class="input-container">
            <label for="boundingCircle">Minimum Circle</label>
            <input type="radio" id="boundingCircle" name="contourBoundingBoxInput" value="boundingCircle" onchange="contourBoundingBoxChoice()">
          </div>
          <div class="input-container">
            <label for="boundingEllipse">Ellipse</label>
            <input type="radio" id="boundingEllipse" name="contourBoundingBoxInput" value="boundingEllipse" onchange="contourBoundingBoxChoice()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id="FftFilter" class="secondFormParams" style="border-color: red;"> 
      <leged>Selected FFT Filter Type</leged>
      <div id="FftFilterForm">
        <form>
          <div class="input-container">
            <label for="selectedArea">High Pass</label>
            <input type="radio" id="selectedFftFilter" name="selectedFftFilter" value="highPassFft" onchange="fftFilterChoice()">
          </div>
          <div class="input-container">
            <label for="entireImage">Low Pass</label>
            <input type="radio" id="entireImage" name="selectedFftFilter" value="lowPassFft" onchange="fftFilterChoice()">
          </div>
          <div class="input-container">
            <label for="entireImage">Gauss HP</label>
            <input type="radio" id="entireImage" name="selectedFftFilter" value="gHighPassFft" onchange="fftFilterChoice()">
          </div>
          <div class="input-container">
            <label for="entireImage">Gauss LP</label>
            <input type="radio" id="entireImage" name="selectedFftFilter" value="gLowPassFft" onchange="fftFilterChoice()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id='hoverSizeSelector' class="secondFormParams" style="border-color: green;" >
      <legend>Select Hover Box Size</legend>
      <form>
        <div class="input-container">
          <input type='text' id="boxWidth" placeholder="Box Width (Default 100)" pattern="\d*"></input>
        </div>
        <div class="input-container">
          <input type='text' id="boxHeight" placeholder="Box Height (Default 100)" pattern="\d*"></input>
        </div>
        <button type="button" onclick="updateHoverBox()">Update Box Size</button>
      </form>
    </fieldset>

    <fieldset id='translateDistanceSelector' class="secondFormParams" style="border-color: green;">
      <legend>Select Translate Distance </legend>
      <form>
        <div class="input-container">
          <input type='text' id="translateX" placeholder="X Direction (Default 50)" pattern="\d*"></input>
        </div>
        <div class="input-container">
          <input type='text' id="translateY" placeholder="Y Direction (Default 30)" pattern="\d*"></input>
        </div>
        <button type="button" onclick="updateTranslateDist()">Make Selection</button>
      </form>
    </fieldset>

    <fieldset id='affineTransfromSelector' class="secondFormParams" style="border-color: green;">
      <legend>Select Affine Transformation</legend>
      <form>
        <div class="input-container">
          <input type='text' id="affineAngle" placeholder="Rotation Angle (Default 45)" pattern="\d*"></input>
        </div>
        <div class="input-container">
          <input type='text' id="affineScale" placeholder="Scaling Factor (Default 1.5)" pattern="\d*"></input>
        </div>
        <button type="button" onclick="updateAffineTransform()">Make Selection</button>
      </form>
    </fieldset>
    
    <fieldset id="colourSelection" class="secondFormParams" style="border-color: green;";> 
      <legend>Selected Colour Scheme</legend>
      <div id="colourForm">
        <form id="colorForm">
          <div class="input-container"></div>
          <div class="input-container">
            <label for="selectedArea">RGB</label>
            <input type="radio" id="rgbColour" name="colourSelection" value="rgbColour" onchange="colourChoice()" checked  >
          </div>
          <div class="input-container">
            <label for="entireImage">BGR</label>
            <input type="radio" id="bgrColour" name="colourSelection" value="bgrColour" onchange="colourChoice()">
          </div>
          <div class="input-container">
            <label for="entireImage">HSV</label>
            <input type="radio" id="hsvColour" name="colourSelection" value="hsvColour" onchange="colourChoice()">
          </div>
        </form>
      </div>
    </fieldset>
    
    <fieldset id='imageResize' class="secondFormParams">
      <legend>Select Image Size</legend>
      <form>
          <div class="input-container">
              <input type='text' id="imageSelectedBoxWidth" placeholder="Image Width" pattern="\d*">
          </div>
          <div class="input-container">
              <input type='text' id="imageSelectedBoxHeight" placeholder="Image Height" pattern="\d*">
          </div>
          <button type="button" onclick="updateImageSize()">Make Selection</button>
      </form>
  </fieldset>

    <fieldset id='rotateAngle' class="secondFormParams" style="border-color: green;">
      <legend>Select Rotate Angle (Counter Clockwise)</legend>
      <form>
        <div class="input-container">
          <input type='text' id="rotateAngleSelection" placeholder="Rotate Angle (Default 45)" pattern="\d*"></input>
        </div>   
          <button type="button" onclick="rotateAngle()">Make Selection</button>
      </form>
    </fieldset>

    <fieldset id="simpleThresh" class="secondFormParams" style="border-color: red;"> 
      <legend>Selected Threshold Method</legend>
      <div id="simpleThreshForm">
        <form>
          <div class="input-container"></div>
          <div class="input-container">
            <label for="binaryThresh">Binary Thresholding</label>
            <input type="radio" id="binaryThresh" name="thresholdMethod" value="binaryThresh" onclick="simpleThreshChoice()">
          </div>
          <div class="input-container">
            <label for="binaryThreshInv">Binary Thresholding Inverse</label>
            <input type="radio" id="binaryThreshInv" name="thresholdMethod" value="binaryThreshInv" onclick="simpleThreshChoice()">
          </div>
          <div class="input-container">
            <label for="toZeroThresh">To-Zero Thresholding</label>
            <input type="radio" id="toZeroThresh" name="thresholdMethod" value="toZeroThresh" onclick="simpleThreshChoice()">
          </div>
          <div class="input-container">
            <label for="toZeroThreshInv">To-Zero Thresholding Inverse</label>
            <input type="radio" id="toZeroThreshInv" name="thresholdMethod" value="toZeroThreshInv" onclick="simpleThreshChoice()">
          </div>
        </form>
      </div>   
    </fieldset>

    <fieldset id='threshVals' class="secondFormParams" style="border-color: green;">
      <legend>Select Threshold Values</legend>
      <form>
        <div class="input-container">
          <input type='text' id="thresholdValue" placeholder="Threshold Value (Default 127)" pattern="\d*"></input>
        </div>
        <div class="input-container">
          <input type='text' id="thresholdMax" placeholder="Threshold Max (Default 255)" pattern="\d*"></input>
        </div>          
          <button type="button" onclick="updateThresholdVals()">Make Selection</button>
      </form>
    </fieldset>

    <fieldset id="adaptiveThresh" class="secondFormParams"> 
      <legend> Threshold Method</legend>
      <form id="adaptiveThresholdForm">
        <label for="maxValue">Max Pixel Value:</label>
        <input type="number" id="maxValue" name="maxValue" placeholder="Threshold Max" required>

        <label for="adaptiveMethod">Adaptive Method:</label>
        <select id="adaptiveMethod" name="adaptiveMethod" required>
            <option value="meanAdapt">Mean</option>
            <option value="gaussAdapt">Gaussian</option>
        </select>

        <label for="thresholdType">Threshold Type:</label>
        <select id="thresholdType" name="thresholdType" required>
            <option value="binaryAdapt">Binary</option>
            <option value="binaryInvAdapt">Binary Inverted</option>
        </select>

        <label for="blockSize">Block Size:</label>
        <input type="number" id="blockSize" name="blockSize" placeholder="e.g 3,5,7" required>

        <label for="constantC">Constant (C):</label>
        <input type="number" id="constantC" name="constantC" placeholder="e.g -5,0,5" required>

        <button type="button" onclick="adaptiveThreshChoice()">Select Paramaters</button>
      </form>
    </fieldset>

    <div id="clickImagePrompt" class="secondFormParams"> 
      <p>Click Image Below</p>
      <p>To See Effect</p>
    </div>
    
    <fieldset id="smoothingKernel" class="secondFormParams" style="border-color: red;">
      <legend>Smoothing Kernels</legend>
      <div id="smoothKernelForm">
        <form>
          <div class="input-container">
            <label for="boxKernel">Box Blur (Average) Kernel</label>
            <input type="radio" id="boxKernel" name="smoothingKernelSelection" value="boxKernel" onchange="smoothingKernelChoice()">
          </div>
          <div class="input-container">
            <label for="gaussianKernel">Gaussian Blur Kernel</label>
            <input type="radio" id="gaussianKernel" name="smoothingKernelSelection" value="gaussianKernel" onchange="smoothingKernelChoice()">
          </div>   
          <div class="input-container">
            <label for="medianKernel">Median Filter</label>
            <input type="radio" id="medianKernel" name="smoothingKernelSelection" value="medianKernel" onchange="smoothingKernelChoice()">
          </div>   
          <div class="input-container">
            <label for="bilateralKernel">Bilateral Filter</label>
            <input type="radio" id="bilateralKernel" name="smoothingKernelSelection" value="bilateralKernel" onchange="smoothingKernelChoice()">
          </div>
        </form>
      </div>
    </fieldset>
    
    <fieldset id="edgeKernel" class="secondFormParams" style="border-color: red;">
      <legend>Detection Kernels</legend>
      <div id="edgeKernelForm">
        <form>
          <div class="input-container">
            <label for="sobelXKernel">Sobel X</label>
            <input type="radio" id="sobelXKernel" name="edgeKernelSelection" value="sobelXKernel" onchange="edgeKernelChoice()">
          </div>
          <div class="input-container">
            <label for="sobelYKernel">Sobel Y</label>
            <input type="radio" id="sobelYKernel" name="edgeKernelSelection" value="sobelYKernel" onchange="edgeKernelChoice()">
          </div>   
          <div class="input-container">
            <label for="prewittXKernel">Prewitt X</label>
            <input type="radio" id="prewittXKernel" name="edgeKernelSelection" value="prewittXKernel" onchange="edgeKernelChoice()">
          </div>   
          <div class="input-container">
            <label for="prewittYKernel">Prewitt Y</label>
            <input type="radio" id="prewittYKernel" name="edgeKernelSelection" value="prewittYKernel" onchange="edgeKernelChoice()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id="morphologicalKernel" class="secondFormParams" style="border-color: red;"> 
      <legend>Select Morphological</legend>
      <div id="morphologicalKernelForm">
        <form>
          <div class="input-container">
            <label for="dialteKernel">Dilate</label>
            <input type="radio" id="dialteKernel" name="morphSelection" value="dilateKernel" onchange="morphChoice()">
          </div>
          <div class="input-container">
            <label for="erodeKernel">Erode</label>
            <input type="radio" id="erodeKernel" name="morphSelection" value="erodeKernel" onchange="morphChoice()">
          </div>
          <div class="input-container">
            <label for="openKernel">Open</label>
            <input type="radio" id="openKernel" name="morphSelection" value="openKernel" onchange="morphChoice()">
          </div>
          <div class="input-container">
            <label for="closeKernel">Close</label>
            <input type="radio" id="closeKernel" name="morphSelection" value="closeKernel" onchange="morphChoice()">
          </div>

        </form>
      </div>
    </fieldset>

    <fieldset id="clusterSeg" class="secondFormParams" style="border-color: red;"> 
      <legend>Clustering Algorithm</legend>
      <div id="clusterSegForm">
        <form>
          <div class="input-container">
            <label for="clusterKmeans">Kmeans</label>
            <input type="radio" id="clusterKmeans" name="clusterSegSelection" value="clusterKmeans" onchange="clusterSegChoice()">
          </div>
          <div class="input-container">
            <label for="clusterMean">Mean Shift</label>
            <input type="radio" id="clusterMean" name="clusterSegSelection" value="clusterMean" onchange="clusterSegChoice()">
          </div>
        </form>
      </div>
    </fieldset>
   
    <div id="customeKernelButton" class="secondFormParams">
      <button onclick = "openCustomKernelWindow()">Custom Kernel Maker</button>
    </div>

    <div id="numberSlider" class="secondFormParams">
      <input type="range" min="1" max="10" value="5" class="slider" >
      <p>Number Thresholds: <span id="sliderValue">5</span></p>
    </div>

  </div>
 
  <div id="displayResults">
    <!-- Image Uplaod -->
    <div id="mainImageButtons" class="imgDisplayColumn" style="flex: 0 0 5%;">
      <form id="imageUploadForm" action="#" method="post" enctype="multipart/form-data">
        <input type="file" id="imageUpload" name="imageUpload" accept="image/*">
        <label for="imageUpload" class="custom-button">Upload image</label>
      </form>
      <button id="resetButton" type="button" class="custom-button" onclick="resetInitialImage()">Reset Image</button>
    </div>

    <!-- Main Image --> 
    <div id="mainImage" class="imgDisplayColumn" style="flex: 0 0 45%;"> 
      <canvas id="imageCanvas"></canvas>
      <img id="sourceImage" src="static/images/elephant.jpg" style="display: none;" alt="Source Image" />
      <div class="hoverSquare"></div>
      <p id="classPreds" class="secondFormParams">THIS IS WHERE WE WILL SHOW THE CLASS PREDICTIONS</p>
    </div>
  
    <!-- Smaller Canvasas -->
    <div class="allCanvas" class="imgDisplayColumn" style="flex: 0 0 50%;">
      <div id="showHoverBox">
        <canvas id="myCanvasFollow">  </canvas>
        <div id="resetCanvasButtons">
          <button id="resetCanvasButton1" onclick="resetIndCanvas('mainImageCanvas1')">Reset Capture 1</button>
          <button id="resetCanvasButton2" onclick="resetIndCanvas('mainImageCanvas2')">Reset Capture 2</button>
          <button id="resetCanvasButton3" onclick="resetIndCanvas('mainImageCanvas3')">Reset Capture 3</button>
        </div>      
      </div>

      <div id="showResultsCanvas">
        <div id = mainImageCanvas>
          <canvas id="mainImageCanvas1" class="mainCanvas">  </canvas>
          <canvas id="mainImageCanvas2" class="mainCanvas">  </canvas>
          <canvas id="mainImageCanvas3" class="mainCanvas">  </canvas>
        </div>
        <div id = subCanvas>
          <canvas id="subCanvas1" class="subCanvas">  </canvas>
          <canvas id="subCanvas2" class="subCanvas">  </canvas>
          <canvas id="subCanvas3" class="subCanvas">  </canvas>
        </div>
        <div id = canvasDiv>
          <div id="myCanvasDiv1" class="divCanvas">  </div>
          <div id="myCanvasDiv2" class="divCanvas">  </div>
          <div id="myCanvasDiv3" class="divCanvas">  </div>
        </div>
      </div>
    </div>

    <!-- Seg Table -->
    <div id="segTable" class="secondFormParams">
      <u><label for="'segOptionCheck">Segmentation Options</label></u>
      <div id="segOptionCheck">
        <label for="segAllCheck">All</label>
        <input type="checkbox" id="segAllCheck" name="option" value="segAllCheck" checked>
        <label for="segBbCheck">Bounding Box</label>
        <input type="checkbox" id="segBbCheck" name="option" value="segBbCheck" checked>
        <label for="segOutlinesCheck">Outlines</label>
        <input type="checkbox" id="segOutlinesCheck" name="option" value="segOutlinesCheck" checked>
        <label for="segMasksCheck">Masks</label>
        <input type="checkbox" id="segMasksCheck" name="option" value="segMasksCheck" checked>
        <label for="segCutCheck">Cutouts</label>
        <input type="checkbox" id="segCutCheck" name="option" value="segCutCheck" checked>
    </div>
      
    <label for="minProbability">Minimum Probability:</label>
    <input type="number" id="minProbability" placeholder="Enter Min Prob" value="0.5" step="0.01" min="0" max="1">
    <button id="applyProbFilter">Apply Filter</button>
      <br>
      <div id="classFilter">
        <input type="checkbox" id="checkAllClasses" checked>
        <label for="checkAllClasses">All</label>
        <!-- Dynamically inserted checkboxes for each class will follow -->
    </div>

      <table id="dataTable" class="display" width="100%"></table>
      <button id="processBtn">Process Selected</button>
    </div>

  </div>
  <script src="{{ url_for('static', filename='js/mainScript.js') }}"></script>
</body>
</html>
