<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainStyles.css') }}">
  <title>Computer Vision Teaser</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
  <link rel="icon" href="static\website_images\favicon.png" type="image/png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&display=swap">

  
  
  
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"> -->

</head>
<body>
  
  <div id="initialForm">
    
    <div id="title-read">
      <img class="title_image" src = static\website_images\title_image.jpeg height="60px" width="80px">
      <button class="custom-button" onclick="openReadMe()" style="display: flex; align-items: center;">
        ReadMe
        <img src="static\website_images\question-sign.png" height="10px" width="10px" style="margin-left: 5px;">
    </button>
    <button class="custom-button" onclick="window.open('https://youtu.be/Jx74ANQuN_E')" style="display: flex; align-items: center;">
      Tutorial
      <img src="static\website_images\video-icon.png" height="10px" width="10px" style="margin-left: 5px;">
    </button>

    </div>
    <div class="led-container">
      <div class="led-box">
          <p>Ready To Click Image</p>
          <div class="led" id="led"></div>
      </div>
    </div>

    <!-- Main Form -->
    <div class="header mainForm">
      <div class="dropdown" data-dropdown>
          <button class="link" data-dropdown-button>Main Process</button>
          <div class="dropdown-menu" id="mainDropdown">
              <a href="#" class="link main-option" data-value="basicOps" data-label="Basic Operations">Basic Operations</a>  
              <a href="#" class="link main-option" data-value="enhancePreprocess" data-label="Enhancement and Preprocessing">Enhancement and Preprocessing</a>
              <a href="#" class="link main-option" data-value="contourProcess" data-label="Contours">Contours</a> 
              <a href="#" class="link main-option" data-value="kernelSelection" data-label="Kernel Selection">Kernel Selection</a>
              <a href="#" class="link main-option" data-value="FFTProcess" data-label="Fourier transform">Fourier Transform</a> 
              <a href="#" class="link main-option" data-value="edgeDetection" data-label="Edge Detection">Edge Detection</a>
              <a href="#" class="link main-option" data-value="imageClassification" data-label="Image Classification">Image Classification</a>
              <a href="#" class="link main-option" data-value="objectDetection" data-label="Object Detection">Object Detection</a>   
              <a href="#" class="link main-option" data-value="imageSegmentation" data-label="Image Segmentation">Image Segmentation</a>
              <a href="#" class="link main-option" data-value="OCR" data-label="OCR">OCR + Analysis</a>  
          </div>
          <div class="subtitle"></div>
      </div>
    </div>

    <!-- Sub Forms -->
    <div class="header subForm basicOps">
      <div class="dropdown" data-dropdown>
          <button class="link" data-dropdown-button>Sub Process</button>
          <div class="dropdown-menu">
              <a href="#" class="link sub-option" data-value="resize" data-label="Image Resizing">Image Resizing</a>  
              <a href="#" class="link sub-option" data-value="crop" data-label="Image Cropping">Image Cropping</a> 
              <a href="#" class="link sub-option" data-value="translate" data-label="Translate Image">Translate Image</a> 
              <a href="#" class="link sub-option" data-value="swapColour" data-label="Swap Colour Schemes">Swap Colour Schemes</a> 
              <a href="#" class="link sub-option" data-value="grayscale" data-label="Grayscale Conversion">Grayscale Conversion</a>   
              <a href="#" class="link sub-option" data-value="rotate" data-label="Image Rotation">Image Rotation</a> 
              <a href="#" class="link sub-option" data-value="affine" data-label="Affine Transformation">Affine Transformation</a>        
          </div>
          <div class="sub-subtitle"></div>
      </div>
    </div>

    <div class="header subForm enhancePreprocess">
      <div class="dropdown" data-dropdown>
          <button class="link" data-dropdown-button>Sub Process</button>
          <div class="dropdown-menu">
              <a href="#" class="link sub-option" data-value="simpleThresh" data-label="Simple Thresholding">Simple Thresholding</a>  
              <a href="#" class="link sub-option" data-value="adaptThresh" data-label="Adaptive Thresholding">Adaptive Thresholding</a> 
              <a href="#" class="link sub-option" data-value="otsuThresh" data-label="Otsu Thresholding">Otsu Thresholding</a> 
              <a href="#" class="link sub-option" data-value="imageHist" data-label="Image Histogram">Image Histogram</a> 
              <a href="#" class="link sub-option" data-value="histEqua" data-label="Histogram Equalization">Histogram Equalization</a>   
          </div>
          <div class="sub-subtitle"></div>
      </div>
    </div>

    <div class="header subForm contourProcess">
        <div class="dropdown" data-dropdown>
          <button class="link" data-dropdown-button>Sub Process</button>
          <div class="dropdown-menu">      
          
            <a href="#" class="link sub-option" data-value="drawContours" data-label="Draw Contours">Draw Contours</a>
            <a href="#" class="link sub-option" data-value="contourFeatures" data-label="Contour Features">Contour Features</a>  
            <a href="#" class="link sub-option" data-value="boundingFeatures" data-label="Bounding Boxes">Bounding Boxes</a>  <!--extreme points, bounding rect, minaArea, minenclosed circle, ellips, approxpoly-->
            <a href="#" class="link sub-option" data-value="identifyShapes" data-label="Identify Shapes">Identify Shapes</a>
        </div>
        <div class="sub-subtitle"></div>
    </div>
    </div>

    <div class="header subForm FFTProcess">
        <div class="dropdown" data-dropdown>
          <button class="link" data-dropdown-button>Sub Process</button>
          <div class="dropdown-menu">      
        
            <a href="#" class="link sub-option" data-value="FftSpectrum" data-label="Show Spectrum">Show Spectrum</a>
            <a href="#" class="link sub-option" data-value="FftFilter" data-label="Filter">Filter</a>
          </div>
          <div class="sub-subtitle"></div>
      </div>
    </div>

    <div class="header subForm kernelSelection">
      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>Sub Process</button>
        <div class="dropdown-menu">
        
          <a href="#" class="link sub-option" data-value="identityKernel" data-label="Identity Kernel">Identity Kernel</a>
          <a href="#" class="link sub-option" data-value="smoothingKernel" data-label="Smoothing/Blurring Kernels">Smoothing/Blurring Kernels</a>  
          <a href="#" class="link sub-option" data-value="sharpeningKernel" data-label="Sharpening Kernels">Sharpening Kernels</a>
          <a href="#" class="link sub-option" data-value="edgeDetectionKernel" data-label="Edge Detection">Edge Detection</a>              
          <a href="#" class="link sub-option" data-value="morphologicalKernel" data-label="Morphological Kernels">Morphological Kernels</a>
          <a href="#" class="link sub-option" data-value="customKernel" data-label="Custom Kernels">Custom Kernel Tool</a> 
          </div>
          <div class="sub-subtitle"></div>
      </div>
    </div>
    

    <div class="header subForm imageClassification">
      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>Sub Process</button>
        <div class="dropdown-menu">
      
          <a href="#" class="link sub-option" data-value="binaryClass" data-label="Binary">Binary </a>
          <a href="#" class="link sub-option" data-value="multiClass" data-label="MultiClass">MultiClass </a>
          </div>
          <div class="sub-subtitle"></div>
      </div>
    </div> 
    
    <fieldset id="objectDetection" class="header subForm objectDetection" style="border-color: green;">
      <legend>Selected Detection Algorithm</legend>
      <div id="objectDetectionForm">
        <form>
          <div class="input-container">
            <label for="fasterRCnnAlg">Faster R-CNN</label>
            <input type="radio" id="fasterRCnnAlg" name="objectDetectionModel" value="fasterRCnn" onchange="objectDetectionChoice()">
          </div>
          <div class="input-container">
            <label for="yoloAlg">Yolo</label>
            <input type="radio" id="yoloAlg" name="objectDetectionModel" value="yolo" onchange="objectDetectionChoice()">
          </div>
        </form>
      </div>
    </fieldset>
    

    <div class="header subForm imageSegmentation">
      <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button>Sub Process</button>
        <div class="dropdown-menu">
          <a href="#" class="link sub-option" data-value="threshSeg" data-label="Threshold"> Threshold </a>
          <a href="#" class="link sub-option" data-value="clusterSeg" data-label="Clustering"> Clustering </a>
          <a href="#" class="link sub-option" data-value="watershed" data-label="Watershed"> Watershed </a>
          <a href="#" class="link sub-option" data-value="semantic" data-label="Semantic"> Semantic/Instance </a>
          <a href="#" class="link sub-option" data-value="customSemantic" data-label="customSemantic"> Custom Instance </a>
        </div>
        <div class="sub-subtitle"></div>
    </div>
    </div>
    
    <div class="header subForm edgeDetection">
      <div class="dropdown" data-dropdown>
          <button class="link" data-dropdown-button>Select Method</button>
          <div class="dropdown-menu">
              <a href="#" class="link sub-option" data-value="selectedEdgeSobel" data-label="Sobel">Sobel</a>
              <a href="#" class="link sub-option" data-value="selectedEdgeCanny" data-label="Canny">Canny</a>
              <a href="#" class="link sub-option" data-value="selectedEdgePrewitt" data-label="Prewitt">Prewitt</a>
              <a href="#" class="link sub-option" data-value="selectedEdgeRobertCross" data-label="Robert Cross">Robert Cross</a>
              <a href="#" class="link sub-option" data-value="selectedEdgeLaplacian" data-label="Laplacian">Laplacian</a>
              <a href="#" class="link sub-option" data-value="selectedEdgeScharr" data-label="Scharr">Scharr</a>
          </div>
          <div class="sub-subtitle"></div>
      </div>
    </div>

    <div class="header subForm OCR">
      <div class="dropdown" data-dropdown>
          <button class="link" data-dropdown-button>Select Method</button>
          <div class="dropdown-menu">
              <a href="#" class="link sub-option" data-value="OCR" data-label="OCR">Get Text From Image/PDF</a>
          </div>
          <div class="sub-subtitle"></div>
      </div>
    </div>    

  <!-- Second For Params -->
    
    <fieldset id="areaSelection" class="secondFormParams" style="border-color: green;"> 
      <legend>Area Selection</legend>
        <div id="areaSwitches">
          <label class="switch-label">
            Partial / Entire
            <label class="switch">              
              <input type="checkbox" id="toggleSwitchEntire">
              <span class="slider round"></span>
            </label>
          </label>
          <label class="switch-label">
            Drag / Stamp
            <label class="switch">
              
              <input type="checkbox" id="toggleSwitchSnip">
              <span class="slider round"></span>
            </label>
          </label>
      </div>
    </fieldset>

    <fieldset id="binModelSelection" class="secondFormParams" style="border-color: red;"> 
      <legend>Select Binary Model</legend>
      <div id="binModelSelectionForm">
        <form>
          <div class="input-container">
            <label for="customModelBin">Custom Model</label>
            <input type="radio" id="customModelBin" name="binaryClassSelection" value="customModelBin" onchange="binClass()">
          </div>
          <div class="input-container">
            <label for="vgg16Bin">VGG16</label>
            <input type="radio" id="vgg16Bin" name="binaryClassSelection" value="vgg16Bin" onchange="binClass()">
          </div>
          <div class="input-container">
            <label for="resNetBin">ResNet</label>
            <input type="radio" id="resNetBin" name="binaryClassSelection" value="resNetBin" onchange="binClass()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id="multiModelSelection" class="secondFormParams" style="border-color: red;"> 
      <legend>Select Binary Model</legend>
      <div id="multiModelSelectionForm">
        <form>
          <div class="input-container">
            <label for="xceptionModel">Xception</label>
            <input type="radio" id="xceptionModel" name="multiClassSelection" value="xceptionModel" onchange="multiClass()">
          </div>
          <div class="input-container">
            <label for="inceptionV3">InceptionV3</label>
            <input type="radio" id="inceptionV3" name="multiClassSelection" value="inceptionV3" onchange="multiClass()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id="predUploadField" class="secondFormParams" style="border-color: red;">
      <legend>Upload Image To Classify</legend>
      <form id="predImageUploadForm" action="#" method="post" enctype="multipart/form-data">
        <label for="classImageUpload" class="custom-button">
          <img src="static\website_images\upload_png.png" alt="Upload" class="button-icon" style="width: 40px; height: 40px ;">
          Upload Image
          <input type="file" id="classImageUpload" name="classImageUpload" accept="image/*" style="display: none;">
        </label>
        <span id="fileNameDisplay"></span>
      </form>
    </fieldset>
    
    <fieldset id="segUploadField" class="secondFormParams" style="border-color: red;">
      <legend>Upload Image of Dog To Isolate the Nose</legend>
      <form id="segImageUploadForm" action="#" method="post" enctype="multipart/form-data">
        <label for="segImageUpload" class="custom-button">
          <img src="static\website_images\upload_png.png" alt="Upload" class="button-icon" style="width: 40px; height: 40px ;">
            Upload Image
          <input type="file" id="segImageUpload" name="segImageUpload" accept="image/*" style="display: none;">
        </label>
        <span id="fileNameDisplay"></span>
      </form>
    </fieldset>

    <fieldset id="ocrUploadField" class="secondFormParams" style="border-color: red;">
      <legend>Upload Jpg/Pdf for OCR & Analysis</legend>
      <form id="ocrImageUploadForm" action="#" method="post" enctype="multipart/form-data">
        <label for="ocrImageUpload" class="custom-button">
          <img src="static\website_images\upload_png.png" alt="Upload" class="button-icon" style="width: 40px; height: 40px ;">
          Upload Image or PDF
          <input type="file" id="ocrImageUpload" name="ocrImageUpload" accept="image/*, .pdf" style="display: none;">
        </label>
        <span id="fileNameDisplay"></span>
      </form>
    </fieldset>  

    <div id="drawShapeSelection" class="secondFormParams"> 
      <label for="drawShapeSelection">--Selected Shape Type--</label>
      <div id="drawShapeForm">
        <form>
          <div class="input-container">
            <label for="drawQuadrangle">Quadrangle</label>
            <input type="radio" id="drawQuadrangle" name="areaSelectionInput" value="drawQuadrangle" onchange="drawShapeChoice()">
          </div>
          <div class="input-container">
            <label for="drawCircle">Circle</label>
            <input type="radio" id="drawCircle" name="areaSelectionInput" value="drawCircle" onchange="drawShapeChoice()">
          </div>
        </form>
      </div>
    </div>

    <fieldset id="contourFeatureSelection" class="secondFormParams" style="border-color: green;"> 
      <legend>Selected Feature</legend>
      <div id="contourFeatureSelectionForm">
        <form>
          <div class="input-container">
            <label for="contourArea">Area</label>
            <input type="radio" id="contourArea" name="contourFeatureSelectionInput" value="contourArea" onchange="contourFeatureChoice()" checked>
          </div>
          <div class="input-container">
            <label for="contourPerimeter">Perimeter</label>
            <input type="radio" id="contourPerimeter" name="contourFeatureSelectionInput" value="contourPerimeter" onchange="contourFeatureChoice()">
          </div>
          <div class="input-container">
            <label for="contourCentre">Centre</label>
            <input type="radio" id="contourCentre" name="contourFeatureSelectionInput" value="contourCentre" onchange="contourFeatureChoice()">
          </div>
        </form>
      </div>
    </fieldset>    

    <fieldset id="contourBoundingBox" class="secondFormParams" style="border-color: red;"> 
      <legend>Selected Bounding Box</legend>
      <div id="contourBoundingBoxForm">
        <form>
          <div class="input-container">
            <label for="boundingRectangle">Rectangle</label>
            <input type="radio" id="boundingRectangle" name="contourBoundingBoxInput" value="boundingRectangle" onchange="contourBoundingBoxChoice()" checked>
          </div>
          <div class="input-container">
            <label for="boundingOrRectangle">Oriented Rectangle</label>
            <input type="radio" id="boundingOrRectangle" name="contourBoundingBoxInput" value="boundingOrRectangle" onchange="contourBoundingBoxChoice()">
          </div>
          <div class="input-container">
            <label for="boundingCircle">Minimum Circle</label>
            <input type="radio" id="boundingCircle" name="contourBoundingBoxInput" value="boundingCircle" onchange="contourBoundingBoxChoice()">
          </div>
          <div class="input-container">
            <label for="boundingEllipse">Ellipse</label>
            <input type="radio" id="boundingEllipse" name="contourBoundingBoxInput" value="boundingEllipse" onchange="contourBoundingBoxChoice()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id="FftFilter" class="secondFormParams" style="border-color: red;"> 
      <leged>Selected FFT Filter Type</leged>
      <div id="FftFilterForm">
        <form>
          <div class="input-container">
            <label for="selectedArea">High Pass</label>
            <input type="radio" id="selectedFftFilter" name="selectedFftFilter" value="highPassFft" onchange="fftFilterChoice()">
          </div>
          <div class="input-container">
            <label for="entireImage">Low Pass</label>
            <input type="radio" id="entireImage" name="selectedFftFilter" value="lowPassFft" onchange="fftFilterChoice()">
          </div>
          <div class="input-container">
            <label for="entireImage">Gauss HP</label>
            <input type="radio" id="entireImage" name="selectedFftFilter" value="gHighPassFft" onchange="fftFilterChoice()">
          </div>
          <div class="input-container">
            <label for="entireImage">Gauss LP</label>
            <input type="radio" id="entireImage" name="selectedFftFilter" value="gLowPassFft" onchange="fftFilterChoice()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id='hoverSizeSelector' class="secondFormParams" style="border-color: green;" >
      <legend>Select Hover Box Size</legend>
      <form>
        <div class="input-container">
          <input type='text' id="boxWidth" placeholder="Box Width (Default 100)" pattern="\d*"></input>
        </div>
        <div class="input-container">
          <input type='text' id="boxHeight" placeholder="Box Height (Default 100)" pattern="\d*"></input>
        </div>
        <button type="button" onclick="updateHoverBox(true)" class="custom-button">Update Box Size</button>
      </form>
    </fieldset>

    <fieldset id='translateDistanceSelector' class="secondFormParams" style="border-color: green;">
      <legend>Select Translate Distance </legend>
      <form>
        <div class="input-container">
          <input type='text' id="translateX" placeholder="X Direction (Default 50)" pattern="\d*"></input>
        </div>
        <div class="input-container">
          <input type='text' id="translateY" placeholder="Y Direction (Default 30)" pattern="\d*"></input>
        </div>
        <button type="button" onclick="updateTranslateDist(true)" class="custom-button">Make Selection</button>
      </form>
    </fieldset>

    <fieldset id='affineTransfromSelector' class="secondFormParams" style="border-color: green;">
      <legend>Select Affine Transformation</legend>
      <form>
        <div class="input-container">
          <input type='text' id="affineAngle" placeholder="Rotation Angle (Default 45)" pattern="\d*"></input>
        </div>
        <div class="input-container">
          <input type='text' id="affineScale" placeholder="Scaling Factor (Default 1.5)" pattern="\d*"></input>
        </div>
        <button type="button" onclick="updateAffineTransform(true)" class="custom-button">Make Selection</button>
      </form>
    </fieldset>
    
    <fieldset id="colourSelection" class="secondFormParams" style="border-color: green;";> 
      <legend>Selected Colour Scheme</legend>
      <div id="colourForm">
        <form id="colorForm">
          <div class="input-container"></div>
          <div class="input-container">
            <label for="selectedArea">RGB</label>
            <input type="radio" id="rgbColour" name="colourSelection" value="rgbColour" onchange="colourChoice()" checked  >
          </div>
          <div class="input-container">
            <label for="entireImage">BGR</label>
            <input type="radio" id="bgrColour" name="colourSelection" value="bgrColour" onchange="colourChoice()">
          </div>
          <div class="input-container">
            <label for="entireImage">HSV</label>
            <input type="radio" id="hsvColour" name="colourSelection" value="hsvColour" onchange="colourChoice()">
          </div>
        </form>
      </div>
    </fieldset>
    
    <fieldset id='imageResize' class="secondFormParams">
      <legend>Select Image Size</legend>
      <form>
          <div class="input-container">
              <input type='text' id="imageSelectedBoxWidth" placeholder="Image Width" pattern="\d*">
          </div>
          <div class="input-container">
              <input type='text' id="imageSelectedBoxHeight" placeholder="Image Height" pattern="\d*">
          </div>
          <button type="button" onclick="updateImageSize(true)" class="custom-button">Make Selection</button>
      </form>
    </fieldset>

    <fieldset id='rotateAngle' class="secondFormParams" style="border-color: green;">
      <legend>Select Rotate Angle (Counter Clockwise)</legend>
      <form>
        <div class="input-container">
          <input type='text' id="rotateAngleSelection" placeholder="Rotate Angle (Default 45)" pattern="\d*"></input>
        </div>   
          <button type="button" onclick="rotateAngle(true)" class="custom-button">Make Selection</button>
      </form>
    </fieldset>

    <fieldset id="simpleThresh" class="secondFormParams" style="border-color: red;"> 
      <legend>Selected Threshold Method</legend>
      <div id="simpleThreshForm">
        <form>
          <div class="input-container"></div>
          <div class="input-container">
            <label for="binaryThresh">Binary Thresholding</label>
            <input type="radio" id="binaryThresh" name="thresholdMethod" value="binaryThresh" onclick="simpleThreshChoice()">
          </div>
          <div class="input-container">
            <label for="binaryThreshInv">Binary Thresholding Inverse</label>
            <input type="radio" id="binaryThreshInv" name="thresholdMethod" value="binaryThreshInv" onclick="simpleThreshChoice()">
          </div>
          <div class="input-container">
            <label for="toZeroThresh">To-Zero Thresholding</label>
            <input type="radio" id="toZeroThresh" name="thresholdMethod" value="toZeroThresh" onclick="simpleThreshChoice()">
          </div>
          <div class="input-container">
            <label for="toZeroThreshInv">To-Zero Thresholding Inverse</label>
            <input type="radio" id="toZeroThreshInv" name="thresholdMethod" value="toZeroThreshInv" onclick="simpleThreshChoice()">
          </div>
        </form>
      </div>   
    </fieldset>

    <fieldset id='threshVals' class="secondFormParams" style="border-color: green;">
      <legend>Select Threshold Values</legend>
      <form>
        <div class="input-container">
          <input type='text' id="thresholdValue" placeholder="Threshold Value (Default 127)" pattern="\d*"></input>
        </div>
        <div class="input-container">
          <input type='text' id="thresholdMax" placeholder="Threshold Max (Default 255)" pattern="\d*"></input>
        </div>          
          <button type="button" onclick="updateThresholdVals(true)" class="custom-button">Make Selection</button>
      </form>
    </fieldset>

    <fieldset id="adaptiveThresh" class="secondFormParams"> 
      <legend> Threshold Method</legend>
      <form id="adaptiveThresholdForm">
        <label for="maxValue">Max Pixel Value:</label>
        <input type="number" id="maxValue" name="maxValue" placeholder="Threshold Max" required>

        <label for="adaptiveMethod">Adaptive Method:</label>
        <select id="adaptiveMethod" name="adaptiveMethod" required>
            <option value="meanAdapt">Mean</option>
            <option value="gaussAdapt">Gaussian</option>
        </select>

        <label for="thresholdType">Threshold Type:</label>
        <select id="thresholdType" name="thresholdType" required>
            <option value="binaryAdapt">Binary</option>
            <option value="binaryInvAdapt">Binary Inverted</option>
        </select>

        <label for="blockSize">Block Size:</label>
        <input type="number" id="blockSize" name="blockSize" placeholder="e.g 3,5,7" required>

        <label for="constantC">Constant (C):</label>
        <input type="number" id="constantC" name="constantC" placeholder="e.g -5,0,5" required>

        <button type="button" onclick="adaptiveThreshChoice(true)" class="custom-button">Select Paramaters</button>
      </form>
    </fieldset>

    <div id="clickImagePrompt" class="secondFormParams"> 
      <p>Click Image Below</p>
      <p>To See Effect</p>
    </div>
    
    <fieldset id="smoothingKernel" class="secondFormParams" style="border-color: red;">
      <legend>Smoothing Kernels</legend>
      <div id="smoothKernelForm">
        <form>
          <div class="input-container">
            <label for="boxKernel">Box Blur (Average) Kernel</label>
            <input type="radio" id="boxKernel" name="smoothingKernelSelection" value="boxKernel" onchange="smoothingKernelChoice()">
          </div>
          <div class="input-container">
            <label for="gaussianKernel">Gaussian Blur Kernel</label>
            <input type="radio" id="gaussianKernel" name="smoothingKernelSelection" value="gaussianKernel" onchange="smoothingKernelChoice()">
          </div>   
          <div class="input-container">
            <label for="medianKernel">Median Filter</label>
            <input type="radio" id="medianKernel" name="smoothingKernelSelection" value="medianKernel" onchange="smoothingKernelChoice()">
          </div>   
          <div class="input-container">
            <label for="bilateralKernel">Bilateral Filter</label>
            <input type="radio" id="bilateralKernel" name="smoothingKernelSelection" value="bilateralKernel" onchange="smoothingKernelChoice()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id="sharpeningKernel" class="secondFormParams" style="border-color: red;">
      <legend>Smoothing Kernels</legend>
      <div id="sharpKernelForm">
        <form>
          <div class="input-container">
            <label for="basicSharpKernel">Basic Sharpening</label>
            <input type="radio" id="basicSharpKernel" name="sharpKernelSelection" value="basicSharpKernel" onchange="sharpKernelChoice()">
          </div>
          <div class="input-container">
            <label for="laplaSharpKernel">Laplacian Sharpening</label>
            <input type="radio" id="laplaSharpKernel" name="sharpKernelSelection" value="laplaSharpKernel" onchange="sharpKernelChoice()">
          </div>
          <div class="input-container">
            <label for="unSharpKernel">unSharp Mask</label>
            <input type="radio" id="unSharpKernel" name="sharpKernelSelection" value="unSharpKernel" onchange="sharpKernelChoice()">
          </div>
        </form>
      </div>
    </fieldset>
    
    <fieldset id="edgeKernel" class="secondFormParams" style="border-color: red;">
      <legend>Edge Detection Kernels</legend>
      <div id="edgeKernelForm">
        <form>
          <div class="input-container">
            <label for="sobelXKernel">Sobel X</label>
            <input type="radio" id="sobelXKernel" name="edgeKernelSelection" value="sobelXKernel" onchange="edgeKernelChoice()">
          </div>
          <div class="input-container">
            <label for="sobelYKernel">Sobel Y</label>
            <input type="radio" id="sobelYKernel" name="edgeKernelSelection" value="sobelYKernel" onchange="edgeKernelChoice()">
          </div>   
          <div class="input-container">
            <label for="sobelCKernel">Sobel Combined</label>
            <input type="radio" id="sobelCKernel" name="edgeKernelSelection" value="sobelCKernel" onchange="edgeKernelChoice()">
          </div>   
          <div class="input-container">
            <label for="prewittXKernel">Prewitt X</label>
            <input type="radio" id="prewittXKernel" name="edgeKernelSelection" value="prewittXKernel" onchange="edgeKernelChoice()">
          </div>   
          <div class="input-container">
            <label for="prewittYKernel">Prewitt Y</label>
            <input type="radio" id="prewittYKernel" name="edgeKernelSelection" value="prewittYKernel" onchange="edgeKernelChoice()">
          </div>
          <div class="input-container">
            <label for="prewittCKernel">Prewitt Combined</label>
            <input type="radio" id="prewittCKernel" name="edgeKernelSelection" value="prewittCKernel" onchange="edgeKernelChoice()">
          </div>
          <!--  -->
          <div class="input-container">
            <label for="scharrXKernel">Scharr X</label>
            <input type="radio" id="scharrXKernel" name="edgeKernelSelection" value="scharrXKernel" onchange="edgeKernelChoice()">
          </div>
          <div class="input-container">
            <label for="scharrYKernel">Scharr Y</label>
            <input type="radio" id="scharrYKernel" name="edgeKernelSelection" value="scharrYKernel" onchange="edgeKernelChoice()">
          </div>
          <div class="input-container">
            <label for="scharrCKernel">Scharr Combined</label>
            <input type="radio" id="scharrCKernel" name="edgeKernelSelection" value="scharrCKernel" onchange="edgeKernelChoice()">
          </div>
        </form>
      </div>
    </fieldset>

    <fieldset id="morphologicalKernel" class="secondFormParams" style="border-color: red;"> 
      <legend>Select Morphological</legend>
      <div id="morphologicalKernelForm">
        <form>
          <div class="input-container">
            <label for="dialteKernel">Dilate</label>
            <input type="radio" id="dialteKernel" name="morphSelection" value="dilateKernel" onchange="morphChoice()">
          </div>
          <div class="input-container">
            <label for="erodeKernel">Erode</label>
            <input type="radio" id="erodeKernel" name="morphSelection" value="erodeKernel" onchange="morphChoice()">
          </div>
          <div class="input-container">
            <label for="openKernel">Open</label>
            <input type="radio" id="openKernel" name="morphSelection" value="openKernel" onchange="morphChoice()">
          </div>
          <div class="input-container">
            <label for="closeKernel">Close</label>
            <input type="radio" id="closeKernel" name="morphSelection" value="closeKernel" onchange="morphChoice()">
          </div>

        </form>
      </div>
    </fieldset>

    <fieldset id="clusterSeg" class="secondFormParams" style="border-color: red;"> 
      <legend>Clustering Algorithm</legend>
      <div id="clusterSegForm">
        <form>
          <div class="input-container">
            <label for="clusterKmeans">Kmeans</label>
            <input type="radio" id="clusterKmeans" name="clusterSegSelection" value="clusterKmeans" onchange="clusterSegChoice()">
          </div>
          <div class="input-container">
            <label for="clusterMean">Mean Shift</label>
            <input type="radio" id="clusterMean" name="clusterSegSelection" value="clusterMean" onchange="clusterSegChoice()">
          </div>
        </form>
      </div>
    </fieldset>
    
    <div id="customeKernelButton" class="secondFormParams">
      <button onclick="openCustomKernelWindow()" class="custom-button">Open Custom Kernel Maker</button>
      <p id="customKernelText" style="color: red;">Successfully Chosen Kernel</p>
      <p id="confirmationMessage">Custom kernel updated successfully!</p>
    </div>

    <fieldset id="numberSlider" class="secondFormParams" style="border-color: green;" >
      <div>
        <input type="range" min="1" max="10" value="5" class="segSlider" >
        <p>Number Thresholds: <span id="sliderValue">5</span></p>
      </div>
    <fieldset>


  </div>
 
  <div id="displayResults">
    <!-- Image Uplaod -->
    <div id="mainImageButtons" class="imgDisplayColumn" style="flex: 0 0 5%;">
      <form id="imageUploadForm" action="#" method="post" enctype="multipart/form-data">
        <input type="file" id="imageUpload" name="imageUpload" accept="image/*">
        <label for="imageUpload" class="custom-button">
          <img src="static\website_images\upload_png.png" alt="Upload" class="button-icon" style="width: 40px; height: 40px ;">
          Upload Image
        </label>
      </form>
      <button id="resetButton" type="button" class="custom-button" onclick="resetInitialImage()">
        <img src="static\website_images\reset.png" alt="Reset" class="button-icon">
        Reset Image
      </button>
      <button id="downloadButton" type="button" class="custom-button" onclick="downloadImage('imageCanvas')">
        <img src="static/website_images/downloads.png" alt="Download" class="button-icon">
        Download Image
      </button>
    </div>

    <!-- Main Image --> 
    <div id="mainImage" class="imgDisplayColumn" style="flex: 0 0 45%;"> 
      <canvas id="imageCanvas"></canvas>
      <img id="sourceImage" src="static/user_images/elephant.jpg" style="display: none;" alt="Source Image" />
      <div class="hoverSquare"></div>
      <div id="classPreds" class="secondFormParams"></div>

      <div id="loader-container" class="loader-container">
        <div id="loader" class="loader"></div>
        <p id="loading-text">AI IS THINKING</p>
      </div>

      <div id="processing-loader-container" class="processing-loader-container">
        <div class="processing-loader"></div>
        <p id="processing-loading-text">Processing request</p>
      </div>
    </div>
    
  
    <!-- Smaller Canvasas -->
    <div class="allCanvas" class="imgDisplayColumn" style="flex: 0 0 50%;">
      
      <div id="showHoverBox">
        <canvas id="myCanvasFollow"></canvas>
        <div id="resetCanvasButtons">
            <div id = canvasButtons1 class="canvasButtons">
              <button id="resetCanvasButton1" class="custom-button" onclick="resetIndCanvas('mainImageCanvas1')">
                <img src="static/website_images/reset.png" alt="Reset" class="button-icon">
                Reset Capture 1
              </button>
              <button id="downloaCanvasdButton1" type="button" class="custom-button" onclick="downloadImage('mainImageCanvas1')">
                  <img src="static\website_images\downloads.png" alt="Download" class="button-icon">
                  Download Image 1
              </button>
            </div>
            <div id = canvasButtons2 class="canvasButtons">
              <button id="resetCanvasButton2" class="custom-button" onclick="resetIndCanvas('mainImageCanvas2')">
                <img src="static/website_images/reset.png" alt="Reset" class="button-icon">
                Reset Capture 2
              </button>
              <button id="downloaCanvasdButton1" type="button" class="custom-button" onclick="downloadImage('mainImageCanvas2')">
                  <img src="static\website_images\downloads.png" alt="Download" class="button-icon">
                  Download Image 2
              </button>
            </div>
            <div id = canvasButtons3 class="canvasButtons">
              <button id="resetCanvasButton1" class="custom-button" onclick="resetIndCanvas('mainImageCanvas3')">
                <img src="static\website_images\reset.png" alt="Reset" class="button-icon">
                Reset Capture 3
              </button>
              <button id="downloaCanvasdButton1" type="button" class="custom-button" onclick="downloadImage('mainImageCanvas3')">
                  <img src="static\website_images\downloads.png" alt="Download" class="button-icon">
                  Download Image 3
              </button>
            </div>

        </div>
    </div>

      <div id="showResultsCanvas">
        <div id="row1" class="grid">
            <canvas id="mainImageCanvas1" class="mainCanvas grid-item"></canvas>
            <canvas id="subCanvas1" class="subCanvas grid-item"></canvas>
            <div id="myCanvasDiv1" class="divCanvas grid-item"></div>
        </div>

        <div id="row2" class="grid">
            <canvas id="mainImageCanvas2" class="mainCanvas grid-item"></canvas>
            <canvas id="subCanvas2" class="subCanvas grid-item"></canvas>
            <div id="myCanvasDiv2" class="divCanvas grid-item"></div>
        </div>

        <div id="row3" class="grid">
            <canvas id="mainImageCanvas3" class="mainCanvas grid-item"></canvas>
            <canvas id="subCanvas3" class="subCanvas grid-item"></canvas>
            <div id="myCanvasDiv3" class="divCanvas grid-item"></div>
        </div>
      </div>
      
      <!-- Seg Table -->
      <div id="segTable" class="secondFormParams" style="display: none;">
        <u><label for="segOptionCheck">Segmentation Options</label></u>
        <div id="segOptionCheck">
          <input type="checkbox" id="segAllCheck" name="option" value="segAllCheck" checked>
          <label for="segAllCheck">All</label>
          <input type="checkbox" id="segBbCheck" name="option" value="segBbCheck" checked>
          <label for="segBbCheck">Bounding Box</label>
          <input type="checkbox" id="segOutlinesCheck" name="option" value="segOutlinesCheck" checked>
          <label for="segOutlinesCheck">Outlines</label>
          <input type="checkbox" id="segMasksCheck" name="option" value="segMasksCheck" checked>
          <label for="segMasksCheck">Masks</label>
          <input type="checkbox" id="segCutCheck" name="option" value="segCutCheck" checked>
          <label for="segCutCheck">Cutouts</label>
        </div>
        
        <label for="minProbability"><u>Minimum Probability:</u></label>
        <input type="number" id="minProbability" placeholder="Enter Min Prob" value="0.5" step="0.01" min="0" max="1">
        <button id="applyProbFilter" class="custom-button">Apply Filter</button>
        <br>
        <label for="classFilter"><u>Select Classes</u></label>
        <div id="classFilter">
          <input type="checkbox" id="checkAllClasses" checked>
          <label for="checkAllClasses">All</label>
        </div>
      
        <table id="dataTable" class="display" width="100%">
          <thead>
            <tr>
              <th>Row Num</th>
              <th>Class</th>
              <th>Probabilities</th>
            </tr>
          </thead>
          <tbody>
            <!-- Table data will be dynamically loaded via DataTables -->
          </tbody>
        </table>
        <button id="processBtn" class="custom-button">Process Selected</button>
      </div>
      <!-- OCR Table -->
      <div id="ocr" class="secondFormParams" style="display: none;">
        <p>Scroll Pages</p>
        <div>
            <button class="custom-button" id="prev-btn" onclick="prevTextOCR()">&lt;</button>
            <button class="custom-button" id="next-btn" onclick="nextTextOCR()">&gt;</button>
        </div>
        <p id = 'pageCount'></p>
        <div id="ocrContainer">
            <div id="image-container">
                <img id="ocrImage" src="">
            </div>
            <div id="text-container">
              <p></p>
            </div>
        </div>
        <div>
          <label>
              <input type="checkbox" id="select-all" onclick="toggleSelectAll(this)"> Select All
          </label>
          <div id="checkbox-list"></div>
        </div>
        <div>
            <form id="question-form">
                <label for="question">What would you like to ask ChatGPT about the text?</label>
                <input type="text" id="question" name="question">
            </form>
        </div>
        <div>
          <form id="question-form-API">
              <label for="ChatKey">Please Insert ChatGPT API Key (Nothing is Saved)</label>
              <input type="text" id="ChatKey" name="ChatKey">
          </form>
      </div>
        <div>
            <button onclick="askChatGPT()" class="custom-button">Ask ChatGPT</button>
        </div>
        <div id="response-container">
            <p id="response"></p>
        </div>
      </div>
    </div>


      

  </div>

  <footer>
    <div id="bottomCenterLinks">
      <div>
        <a href="https://buymeacoffee.com/doronbenchayim" target="_blank">
          <img src="https://www.buymeacoffee.com/assets/img/custom_images/yellow_img.png" alt="Buy Me A Coffee" class="buy-coffee">
        </a>
      </div>
      <div class="links">
        <a href="https://www.linkedin.com/in/doronbenchayim" target="_blank">
          <img src="static/website_images/linkedin.png" alt="LinkedIn">
        </a>
        <a href="https://github.com/Doron-Ben-Chayim" target="_blank">
          <img src="static/website_images/github_icon.png" alt="GitHub">
        </a>
        <a href="static/user_images/Doron_Ben_Chayim_CV.pdf" target="_blank">
          <img src="static/website_images/cv.png" alt="CV">
        </a>
      </div>
    </div>
  </footer>
  

  
  <script src="{{ url_for('static', filename='js/mainScript.js') }}"></script>
</body>
</html>
