body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 100%;
  font-family: 'Roboto', sans-serif;  
}

.header {
  display: flex;
  flex-direction: column;
}

#title-read {
  display: flex;
  flex-direction: column;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  display: block;
  margin: 0.5rem 0;
  color: black;
  font-size: 1.2rem;
}

#initialForm {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: rgb(223, 209, 189);
  padding: 10px;
  border-bottom: 2px solid black;
}

.dropdown.active > .link,
.link:hover {
  color: red;
}

.dropdown {
  position: relative;
  margin-top: -0.7rem;
  margin-left: 0.5rem;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% );
  background-color: white;
  padding: 0.75rem 0;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 1000;
}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 1000;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 1000;
}

.subForm {
  display: none;
  margin: 5px;
}

.subForm.active {
  display: flex;
}

#classPreds {
  display: none;
}

.mainForm {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 5px;
}

.secondForm {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.secondFormParams  {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

#adaptiveThresholdForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 5px; /* Adjust the gap between elements */
  /* align-items: center; */
}


#displayResults {
  margin-top: 20px;
  max-height: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
}

.imgDisplayColumn {
  flex: 1;
  padding: 3px;
  box-sizing: border-box; /* To include padding and border in the element's width */
}

.custom-button {
  background-color: rgb(223, 209, 189);
  color: black;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
  background-color: white;;
}

.custom-button:active {
  background-color: #004085;
}

#imageUpload {
  display: none;
}

.allCanvas > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#showHoverBox {
  display: none;
  flex-direction: row;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 2px;
  border-radius: 20px;
  border: 2px solid black;  
  background-color: rgb(223, 209, 189);
}

/* Hide the outline when display is none */
#showHoverBox[style*="display: none;"] {
  border: none;
}

#myCanvasFollow {
  display: none;
  margin: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  background-color: black;
}

/* #resetCanvasButtons {
  /* border-color: blue;
  border-width: 5px;
  border-style: solid; */
/* } */ 

#resetCanvasButtons {
  margin: 10px;
}

.showResultsCanvas {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.grid {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: repeat(var(--columns, 2), 1fr);
  grid-template-rows: auto;
  justify-content: center;
}

.grid-item {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width:95%;
  height: 95%;
}

/* #resetCanvasButton1 {
  display: none;
}

#resetCanvasButton2 {
  display: none;
}

#resetCanvasButton3 {
  display: none;
} */

#imageCanvas {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
}

#mainImageCanvas1 {
  display : none;
  /* border-color: green;
  border-width: 5px;
  border-style: solid; */
}

#mainImageCanvas2 {
  display : none;
  /* border-color: green;
  border-width: 5px;
  border-style: solid; */
}

#mainImageCanvas3 {
  display : none;
  /* border-color: green;
  border-width: 5px;
  border-style: solid; */
}

#subCanvas1 {
  display : none;
  /* border-color: yellow;
  border-width: 5px;
  border-style: solid; */
}

#subCanvas2 {
  display : none;
  /* border-color: yellow;
  border-width: 5px;
  border-style: solid; */
}

#subCanvas3 {
  display : none;
  /* border-color: yellow;
  border-width: 5px;
  border-style: solid; */

}

#myCanvasDiv1 {
  display : none;

}

#myCanvasDiv2 {
  display : none;

}

#myCanvasDiv3 {
  display : none;


}

.hoverSquare {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: rgba(128, 0, 128, 0.5);
  border: 2px dashed black;
}

#segOptionCheck {
  display: flex;
  flex-direction: row;
}

/*  */

#areaSwitches {
  display: flex;
  flex-direction: column;
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
margin: 10px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ff69b4;
border-radius: 34px;
overflow: hidden;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
background-size: 70%;
background-position: center;
background-repeat: no-repeat;
border-radius: 50%;
transition: .4s;
}

input:focus + .slider {
box-shadow: 0 0 1px #800080;
}

input:checked + .slider:before {
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/* Slider 1 specific styles */
#toggleSwitchEntire + .slider {
background-color: #ccc;
}

#toggleSwitchEntire:checked + .slider {
background-color: green;
}

/* Slider 2 specific styles */
#toggleSwitchSnip + .slider {
background-color: #ff69b4;
}

#toggleSwitchSnip:checked + .slider {
background-color: #800080;
}

#toggleSwitchSnip:disabled + .slider {
background-color: #ccc;
cursor: not-allowed;
}

#toggleSwitchSnip:disabled + .slider:before {
background-color: #eee;
background-image: none;
transform: none;
}

#toggleSwitchSnip + .slider:before {
background-image: url('../images/unchecked_cursor.png');
}

#toggleSwitchSnip:checked + .slider:before {
background-image: url('../images/checked.png');
}

input:disabled + .slider {
background-color: #ccc;
cursor: not-allowed;
}

input:disabled + .slider:before {
background-color: #eee;
background-image: none;
transform: none;
}

.switch-label {
  display: flex;
  align-items: center;

}

#customeKernelButton {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#confirmationMessage {
  display: none;
  color: green;
  margin-top: 10px;
}

#loader-container {
  display: none;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

#canvasButtons {
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#canvasButtons1 {
  display: none;
} 

#canvasButtons2 {
  display: none;
} 

#canvasButtons3 {
  display: none;
}

#segTable {
  margin: 2px;
  border-radius: 20px;
  border: 2px solid black;  
}

#ocrContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#ocr {
  padding: 2px;
}

#ocr p {
  margin-bottom: 2x;
}

#text-container, #image-container {
  margin: 10px;
  border-radius: 20px;
  border: 4px solid black;
  width: 40%;
  height: 300px; /* Fixed height for both containers */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ocrImage {
  max-width: 100%; /* Ensure the image fits within the container */
  max-height: 100%;
}

#prev-btn, #next-btn {
  font-size: 16px;
  cursor: pointer;
}

#question-form, #question-form-API {
  margin-bottom: 20px;
  width: 100%;
}

#question, #ChatKey {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#checkbox-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Ensures checkboxes wrap to the next line if they exceed container width */
  gap: 10px; /* Adds space between checkboxes */
  margin-top: 10px;
}

#checkbox-list label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}


.title_image {
  margin: 0 0 0 5px;
}
 
.led-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.led-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.led-box p {
  font-size: 1.2rem;
  text-align: center;
  margin: 1em;
}

.led {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led.ready {
  background-color: green;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #134413 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 12px;
}

.led.thinking {
  background-color: orange;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #134413 0 -1px 9px, orange 0 2px 12px;
}

.led.broken {
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #134413 0 -1px 9px, red 0 2px 12px;
}

.led-box p {
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  display: block;
  margin: 5px;
  color: black;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

/*  */

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  animation: spin 2s linear infinite;
  width: 50px; /* Initial size */
  height: 50px; /* Initial size */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading-text {
  font-size: 1em;
  color: #555;
  margin-top: 10px;
  text-align: center;
}

#processing-loader-container {
  display: none; /* Initially hidden */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.processing-loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  animation: spin 2s linear infinite;
  width: 50px; /* Initial size */
  height: 50px; /* Initial size */
}

#processing-loading-text {
  font-size: 1em;
  color: #555;
  margin-top: 10px;
  text-align: center;
}

#content {
  min-height: 100%;
  position: relative;
}

#bottomCenterLinks {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#bottomCenterLinks .links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#bottomCenterLinks img {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

#bottomCenterLinks a img.buy-coffee {
  height: 50px !important;
  width: 170px !important;
}












