body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 100%;  
}

.header {
  display: flex;
  flex-direction: column;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  display: block;
  margin: 0.5rem 0;
  color: black;
  font-size: 1.2rem;
}

#initialForm {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: rgb(223, 209, 189);
  padding: 10px;
}

.dropdown.active > .link,
.link:hover {
  color: red;
}

.dropdown {
  position: relative;
  margin-top: -0.7rem;
  margin-left: 0.5rem;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% );
  background-color: white;
  padding: 0.75rem 0;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.subForm {
  display: none;
  margin: 5px;
}

.subForm.active {
  display: flex;
}

#classPreds {
  display: none;
}

/* ?may need to delete below */
#clickImagePrompt {
  display: none;
  flex-direction: column;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

.mainForm {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 5px;
}

.secondForm {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.secondFormParams  {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

#adaptiveThresholdForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 5px; /* Adjust the gap between elements */
  /* align-items: center; */
}


#displayResults {
  margin-top: 20px;
  max-height: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
}

.imgDisplayColumn {
  flex: 1;
  padding: 3px;
  box-sizing: border-box; /* To include padding and border in the element's width */
}

#mainImageButtons {
  border-color: green;
  border-width: 1px;
  border-style: solid;
}

#mainImage {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease;
  text-decoration: none;  /* For <a> and <label> elements */
  margin: 5px;
}

.custom-button:hover {
  background-color: #0056b3;
}

.custom-button:active {
  background-color: #004085;
}

#imageUpload {
  display: none;
}

/* #mainImageContainer {
  min-width: 50%;
  min-height: 50%;
} */

/* .image-container {
  overflow: hidden;
  margin: 10px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  display: flex;
  justify-content: center;
} */

/* .image-container img {
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto; 
} */

.allCanvas > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  margin: auto;
}

#showHoverBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#myCanvasFollow {
  display: none;
  border-color: blue;
  border-width: 5px;
  border-style: solid;
}

#resetCanvasButtons {
  border-color: blue;
  border-width: 5px;
  border-style: solid;
}

#resetCanvasButtons {
  margin: 10px;
}

#showResultsCanvas {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

#resetCanvasButton1 {
  display: none;
}

#resetCanvasButton2 {
  display: none;
}

#resetCanvasButton3 {
  display: none;
}

#mainImageCanvas1 {
  display : none;
  border-color: green;
  border-width: 5px;
  border-style: solid;
}

#mainImageCanvas2 {
  display : none;
  border-color: yellow;
  border-width: 5px;
  border-style: solid;
}

#mainImageCanvas3 {
  display : none;
  border-color: pink;
  border-width: 5px;
  border-style: solid;
}

#subCanvas1 {
  display : none;
  border-color: yello;
  border-width: 5px;
  border-style: solid;
}

#subCanvas2 {
  display : none;
}

#subCanvas3 {
  display : none;

}

#myCanvasDiv1 {
  display : none;
  border-color: pink;
  border-width: 5px;
  border-style: solid;
}

#myCanvasDiv2 {
  display : none;
}

#myCanvasDiv3 {
  display : none;

}

.hoverSquare {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: rgba(255, 0, 208, 0.5);
}

#segOptionCheck {
  display: flex;
  flex-direction: row;
}
