body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 100%;  
}

#initialForm {
  display: flex;
  flex-direction: left;
  align-items : flex-start;
  width: 90%;
  margin-top: 20px;
  background-color: rgb(239, 10, 10);
  color: black;
  padding: 10px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

#imageUploadForm {
  margin: 0;
  padding: 5px; 
}

#predImageUploadForm {
  margin: 0;
  padding: 5px;
}

#imageUploadForm label {
  margin-bottom: 5px; 
  display: block;
}

#imageUpload {
  margin-top: 5px; 
}

#classPreds {
  display: none;
}

#clickImagePrompt {
  display: none;
  flex-direction: column;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

.mainForm {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 5px;
}

.secondForm {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.secondFormParams  {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

#adaptiveThresholdForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 5px; /* Adjust the gap between elements */
  /* align-items: center; */
}

#displayResults {
  margin-top: 20px;
  max-height: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #mainImageContainer {
  min-width: 50%;
  min-height: 50%;
} */

/* .image-container {
  overflow: hidden;
  margin: 10px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  display: flex;
  justify-content: center;
} */

/* .image-container img {
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto; 
} */

.allCanvas > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#showHoverBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#myCanvasFollow {
  display: none;
  border-color: blue;
  border-width: 5px;
  border-style: solid;
}

#resetCanvasButtons {
  margin: 10px;
}

#showResultsCanvas {
  display: grid;
  width: 90%; 
  height: 90%; 
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(3, 1fr); */
}

/* .indCanvas {
  width: 100%; 
  height: 100%; 
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

.divCanvas {
  width: 100%; 
  height: 100%; 
  border-color: green;
  border-width: 5px;
  border-style: solid;
} */

#resetCanvasButton1 {
  display: none;
}

#resetCanvasButton2 {
  display: none;
}

#resetCanvasButton3 {
  display: none;
}

#mainImageCanvas1 {
  display : none;
  border-color: green;
  border-width: 5px;
  border-style: solid;
}

#mainImageCanvas2 {
  display : none;
  border-color: yellow;
  border-width: 5px;
  border-style: solid;
}

#mainImageCanvas3 {
  display : none;
  border-color: pink;
  border-width: 5px;
  border-style: solid;
}

#subCanvas1 {
  display : none;
}

#subCanvas2 {
  display : none;
}

#subCanvas3 {
  display : none;

}



#myCanvasDiv1 {
  display : none;
}

#myCanvasDiv2 {
  display : none;
}

#myCanvasDiv3 {
  display : none;

}

.hoverSquare {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: rgba(255, 0, 208, 0.5);
}

#segOptionCheck {
  display: flex;
  flex-direction: row;
}
